BODY {
	BACKGROUND-COLOR: white; FONT-FAMILY: verdana, arial, helvetica, sanserif; FONT-SIZE: 12px
}
H1 {
	COLOR: red; FONT-SIZE: 18px
}
H2 {
	COLOR: darkblue; FONT-SIZE: 16px
}
H3 {
	COLOR: darkblue; FONT-SIZE: 14px
}
HR {
	WIDTH: 100%
}
TD {
	COLOR: black; FONT-SIZE: 12px
}
